/* Small Mobile */
@media (max-width: 320px) {
  .Btn_header {
    margin-left: 0;
  }

  .header_img {
    width: 5rem;
    height: auto;
  }

  .main_center {
    max-width: 100%;
  }

  .main_p {
    max-width: 100%;
  }

  .main-Btn {
    width: 15rem;
  }

  .main_img_1 {
    width: 15rem;
  }

  .main_text {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main_grow {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .img_bottom_desktop {
    display: none;
    height: auto;
  }

  .img_bottom_desktop_mobil {
    display: block;
    width: 100%;
  }

  .img_top_desktop {
    display: none;
    width: 100%;
  }

  .img_top_mobile {
    display: block;
    width: 100%;
  }

  .main_info {
    margin-left: 0;
  }

  .main_info p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    display: flex;
    text-align: left;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .section h1 {
    width: 90%;
    margin-left: auto;
  }
  .section p {
    width: 90%;
    margin-left: auto;
    font-size: 12px;
  }
  .section_main {
    text-align: center;
  }
}

/* Standard Mobile (375px) */
@media (max-width: 375px) {
  .header_img {
    width: 5rem;
    height: auto;
  }

  .main_center {
    max-width: 100%;
  }

  .main_p {
    max-width: 100%;
  }

  .main-Btn {
    width: 15rem;
  }

  .main_img_1 {
    width: 15rem;
  }

  .main_text {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .Btn_header {
    margin-left: 0;
  }

  .img_bottom_desktop_mobil {
    height: auto;
    background-color: var(--color-background);
  }

  .main_grow_img {
    width: 16rem;
    display: block;
    margin-left: 0;
  }
  .section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin-top: 10rem;
    align-items: flex-start;
  }
  .section_main {
    text-align: center;
  }

}

/* Large Mobile (425px) */
@media (max-width: 425px) {
  .Btn_header {
    margin-left: 0;
  }

  .header_img {
    width: 5rem;
    height: auto;
  }

  .main_center {
    font-size: 1.4rem;
  }

  .main_p {
    max-width: 90%;
    font-size: 0.95rem;
  }

  .main-Btn {
    width: 15rem;
    height: 2.5rem;
  }

  .main_img {
    max-width: 90%;
  }

  .main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 4rem;
    padding: 4rem;
    flex-direction: column-reverse;
  }
  .section_main {
    text-align: center;
  }
}

/* Small Tablet (768px) */
@media (max-width: 768px) {
  .main_center {
    max-width: 100%;
  }

  .main_p {
    max-width: 80%;
  }

  .main_text {
    flex-direction: column;
    gap: 2rem;
  }

  .main_grow {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
  }

  .img_top_desktop {
    margin-left: 0;
  }

  .main_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0;
  }

  .main_info p {
    text-align: center;
    margin-right: 1rem;
  }
}

/* Standard Tablet (1024px) */
@media (max-width: 1024px) {
  .main_center {
    max-width: 100%;
  }

  .img_top_desktop {
    display: block;
    width: 100%;
  }
  .img_top_mobile {
    display: block;
    weight: auto;
  }

  .section_info {
    max-width: 500px;
    text-align: left;
    margin-right: 6rem;
  }
}

/* Small Laptop (1280px) */
@media (max-width: 1280px) {
  .main_center {
    max-width: 100%;
  }

  .img_top_desktop {
    display: none;
    width: 100%;
  }
}

/* Desktop (1440px) */
@media (min-width: 1440px) {
  .img_top_desktop {
    display: block;
    width: 100%;
  }
}
