body {
    font-family: "Poppins", sans-serif;
}
:root {
    /*### Primary*/
    --color-Pink: hsl(322, 100%, 66%);
    --color-Light-Pink: hsl(321, 100%, 78%);
    --color-Light-Red: hsl(0, 100%, 63%);
    /*### Neutral*/
    --color-Very-Dark-Cyan: hsl(192, 100%, 9%);
    --color-Very-Pale-Blue: hsl(207, 100%, 98%);
}
